---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/sections/Hero.astro';
import Experience from '../components/sections/Experience.astro';
import FeaturedProject from '../components/sections/FeaturedProject.astro';
import Skills from '../components/sections/Skills.astro';
---

<BaseLayout>
	<Hero />
	<div class="w-full h-[1px] bg-white/10 my-24"></div>
	<Experience />
	<div class="container mx-auto px-6 lg:px-12">
		<div class="w-full h-[1px] bg-white/10"></div>
	</div>
	<FeaturedProject />
	<Skills />
</BaseLayout>
